# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
# Use PlanetScale for production
DATABASE_URL=

# Next Auth
# Use a random string for the secret, and the deployment URL for the URL
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Discord Auth
# Currently not used
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Google Auth
# These can be found in `credentials.json` in the Google Cloud Console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github Auth
# Currently not used
GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

# Google Drive API Key
# This can be found in the Google Cloud Console
NEXT_PUBLIC_GOOGLE_API_KEY=
